.anim-obj {
    display: block;
    width: 100px;
    height: 150px;
    border-radius: 5px;
    background: url("../img/card.png");
}

a.hover {
    display: block;
    font-size: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.hover:hover + .anim-obj {
    -webkit-animation: my-animation 0.5s 1;
    animation: my-animation 0.5s 1;
}

@-webkit-keyframes my-animation {
    from {
        margin-left: 0;
    }
    to{
        margin-left: 400px;
    }
}
@keyframes my-animation {
    from {
        margin-left: 0;
    }
    to{
        margin-left: 400px;
    }
}