body {
    background-color: darkgreen;
}

.anim-obj {
    display: block;
    width: 100px;
    height: 150px;
    border-radius: 5px;
    background: url("../img/card.png");
}

a.hover {
    display: block;
    font-size: 30px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: #ffffff;
}
 
.hover:hover + .anim-obj {
    -webkit-animation: my-animation 3s 1;
    animation: my-animation 3s 1;
}

@-webkit-keyframes my-animation {
    0% {
        margin-left: 0;
        margin-top: 0;
        transform: rotateZ(0deg);
    }
    1% {
        margin-left: 5px;
        margin-top: 5px;
        transform: rotateZ(5deg);
    }
    2% {
        margin-left: 10px;
        margin-top: 10px;
        transform: rotateZ(10deg);
    }
    3% {
        margin-left: 15px;
        margin-top: 15px;
        transform: rotateZ(15deg);
    }
    4% {
        margin-left: 20px;
        margin-top: 20px;
        transform: rotateZ(20deg);
    }
    5% {
        margin-left: 25px;
        margin-top: 25px;
        transform: rotateZ(25deg);
    }
    6% {
        margin-left: 30px;
        margin-top: 30px;
        transform: rotateZ(30deg);
    }
    7% {
        margin-left: 35px;
        margin-top: 35px;
        transform: rotateZ(35deg);
    }
    9% {
        margin-left: 40px;
        margin-top: 40px;
        transform: rotateZ(40deg);
    }
    10% {
        margin-left: 45px;
        margin-top: 45px;
        transform: rotateZ(45deg);
    }
}

@keyframes my-animation {
    0% {
        margin-left: 0;
        margin-top: 0;
        transform: rotateZ(0deg);
    }
    1% {
        margin-left: 5px;
        margin-top: 5px;
        transform: rotateZ(5deg);
    }
    2% {
        margin-left: 10px;
        margin-top: 10px;
        transform: rotateZ(10deg);
    }
    3% {
        margin-left: 15px;
        margin-top: 15px;
        transform: rotateZ(15deg);
    }
    4% {
        margin-left: 20px;
        margin-top: 20px;
        transform: rotateZ(20deg);
    }
    5% {
        margin-left: 25px;
        margin-top: 25px;
        transform: rotateZ(25deg);
    }
    6% {
        margin-left: 30px;
        margin-top: 30px;
        transform: rotateZ(30deg);
    }
    7% {
        margin-left: 35px;
        margin-top: 35px;
        transform: rotateZ(35deg);
    }
    9% {
        margin-left: 40px;
        margin-top: 40px;
        transform: rotateZ(40deg);
    }
    10% {
        margin-left: 45px;
        margin-top: 45px;
        transform: rotateZ(45deg);
    }
}