body {
    background-color: darkgreen;
}

.anim-obj {
    display: block;
    width: 100px;
    height: 150px;
    border-radius: 5px;
    background: url("../img/card.png");
}

a.hover {
    display: block;
    font-size: 30px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: #ffffff;
}

.hover:hover + .anim-obj {
    -webkit-animation: my-animation 3s 1;
    animation: my-animation 3s 1;
}

@-webkit-keyframes my-animation {
    0% {
        margin-left: 0;
        margin-top: 0;
        transform: rotateZ(0deg);
    }
    1% {
         margin-left: 5px;
         margin-top: 5px;
         transform: rotateZ(5deg);
     }
    2% {
        margin-left: 10px;
        margin-top: 10px;
        transform: rotateZ(10deg);
    }
    3% {
        margin-left: 15px;
        margin-top: 15px;
        transform: rotateZ(15deg);
    }
    4% {
        margin-left: 20px;
        margin-top: 20px;
        transform: rotateZ(20deg);
    }
    5% {
        margin-left: 25px;
        margin-top: 25px;
        transform: rotateZ(25deg);
    }
    6% {
        margin-left: 30px;
        margin-top: 30px;
        transform: rotateZ(30deg);
    }
    7% {
        margin-left: 35px;
        margin-top: 35px;
        transform: rotateZ(35deg);
    }
    8% {
        margin-left: 40px;
        margin-top: 40px;
        transform: rotateZ(40deg);
    }
    9% {
        margin-left: 45px;
        margin-top: 45px;
        transform: rotateZ(45deg);
    }
    10% {
        margin-left: 50px;
        margin-top: 50px;
        transform: rotateZ(50deg);
    }
    11% {
        margin-left: 55px;
        margin-top: 55px;
        transform: rotateZ(55deg);
    }
    12% {
        margin-left: 60px;
        margin-top: 60px;
        transform: rotateZ(60deg);
    }
    13% {
        margin-left: 65px;
        margin-top: 65px;
        transform: rotateZ(65deg);
    }
    14% {
        margin-left: 70px;
        margin-top: 70px;
        transform: rotateZ(70deg);
    }
    15% {
        margin-left: 75px;
        margin-top: 75px;
        transform: rotateZ(75deg);
    }
    16% {
        margin-left: 80px;
        margin-top: 80px;
        transform: rotateZ(80deg);
    }
    17% {
        margin-left: 85px;
        margin-top: 85px;
        transform: rotateZ(85deg);
    }
    18% {
        margin-left: 90px;
        margin-top: 90px;
        transform: rotateZ(90deg);
    }
    19% {
        margin-left: 95px;
        margin-top: 95px;
        transform: rotateZ(95deg);
    }
    20% {
        margin-left: 100px;
        margin-top: 100px;
        transform: rotateZ(100deg);
    }
    21% {
        margin-left: 105px;
        margin-top: 105px;
        transform: rotateZ(105deg);
    }
    22% {
        margin-left: 110px;
        margin-top: 110px;
        transform: rotateZ(110deg);
    }
    23% {
        margin-left: 115px;
        margin-top: 115px;
        transform: rotateZ(115deg);
    }
    24% {
        margin-left: 120px;
        margin-top: 120px;
        transform: rotateZ(120deg);
    }
    25% {
        margin-left: 125px;
        margin-top: 125px;
        transform: rotateZ(125deg);
    }
    26% {
        margin-left: 130px;
        margin-top: 130px;
        transform: rotateZ(130deg);
    }
    27% {
        margin-left: 135px;
        margin-top: 135px;
        transform: rotateZ(135deg);
    }
    28% {
        margin-left: 140px;
        margin-top: 140px;
        transform: rotateZ(140deg);
    }
    29% {
        margin-left: 145px;
        margin-top: 145px;
        transform: rotateZ(145deg);
    }
    30% {
        margin-left: 150px;
        margin-top: 150px;
        transform: rotateZ(150deg);
    }
}

@keyframes my-animation {
    0% {
        margin-left: 0;
        margin-top: 0;
        transform: rotateZ(0deg);
    }
    1% {
        margin-left: 5px;
        margin-top: 5px;
        transform: rotateZ(5deg);
    }
    2% {
        margin-left: 10px;
        margin-top: 10px;
        transform: rotateZ(10deg);
    }
    3% {
        margin-left: 15px;
        margin-top: 15px;
        transform: rotateZ(15deg);
    }
    4% {
        margin-left: 20px;
        margin-top: 20px;
        transform: rotateZ(20deg);
    }
    5% {
        margin-left: 25px;
        margin-top: 25px;
        transform: rotateZ(25deg);
    }
    6% {
        margin-left: 30px;
        margin-top: 30px;
        transform: rotateZ(30deg);
    }
    7% {
        margin-left: 35px;
        margin-top: 35px;
        transform: rotateZ(35deg);
    }
    8% {
        margin-left: 40px;
        margin-top: 40px;
        transform: rotateZ(40deg);
    }
    9% {
        margin-left: 45px;
        margin-top: 45px;
        transform: rotateZ(45deg);
    }
    10% {
        margin-left: 50px;
        margin-top: 50px;
        transform: rotateZ(50deg);
    }
    11% {
        margin-left: 55px;
        margin-top: 55px;
        transform: rotateZ(55deg);
    }
    12% {
        margin-left: 60px;
        margin-top: 60px;
        transform: rotateZ(60deg);
    }
    13% {
        margin-left: 65px;
        margin-top: 65px;
        transform: rotateZ(65deg);
    }
    14% {
        margin-left: 70px;
        margin-top: 70px;
        transform: rotateZ(70deg);
    }
    15% {
        margin-left: 75px;
        margin-top: 75px;
        transform: rotateZ(75deg);
    }
    16% {
        margin-left: 80px;
        margin-top: 80px;
        transform: rotateZ(80deg);
    }
    17% {
        margin-left: 85px;
        margin-top: 85px;
        transform: rotateZ(85deg);
    }
    18% {
        margin-left: 90px;
        margin-top: 90px;
        transform: rotateZ(90deg);
    }
    19% {
        margin-left: 95px;
        margin-top: 95px;
        transform: rotateZ(95deg);
    }
    20% {
        margin-left: 100px;
        margin-top: 100px;
        transform: rotateZ(100deg);
    }
    21% {
        margin-left: 105px;
        margin-top: 105px;
        transform: rotateZ(105deg);
    }
    22% {
        margin-left: 110px;
        margin-top: 110px;
        transform: rotateZ(110deg);
    }
    23% {
        margin-left: 115px;
        margin-top: 115px;
        transform: rotateZ(115deg);
    }
    24% {
        margin-left: 120px;
        margin-top: 120px;
        transform: rotateZ(120deg);
    }
    25% {
        margin-left: 125px;
        margin-top: 125px;
        transform: rotateZ(125deg);
    }
    26% {
        margin-left: 130px;
        margin-top: 130px;
        transform: rotateZ(130deg);
    }
    27% {
        margin-left: 135px;
        margin-top: 135px;
        transform: rotateZ(135deg);
    }
    28% {
        margin-left: 140px;
        margin-top: 140px;
        transform: rotateZ(140deg);
    }
    29% {
        margin-left: 145px;
        margin-top: 145px;
        transform: rotateZ(145deg);
    }
    30% {
        margin-left: 150px;
        margin-top: 150px;
        transform: rotateZ(150deg);
    }
}